In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv(r"C:\Users\DELL\Downloads\archive (3)\Social_Network_Ads.csv")
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [18]:
data.dropna(axis=0,inplace=True)
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])
y=data['Purchased']
x=data.drop('Purchased',axis=1)
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=44)
scaler=StandardScaler()
xtrain_scaled=scaler.fit_transform(xtrain)
xtest_scaled=scaler.fit_transform(xtest)
model=LogisticRegression()
p=model.fit(xtrain_scaled,ytrain)
xt=p.predict(xtest_scaled)
print("accuracy score is:",accuracy_score(ytest,xt)*100)
new=pd.DataFrame({
    'User ID':[15624510],
    'Gender':[0],
    'Age':[19],
    'EstimatedSalary':[19000],
})
new_transform=scaler.transform(new)
xt=p.predict(new_transform)
print("predicted value is:",xt)
print("actual value is:",y[0])

accuracy score is: 77.5
predicted value is: [0]
actual value is: 0

In [19]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=44)
model=LogisticRegression()
model.fit(xtrain,ytrain)
feature_names=x.columns if hasattr(x,'columns') else [f'feature{i}' for i in range(x.shape[1])]
coefficients=model.coef_[0]
feature_important=pd.DataFrame({
    'Feature':feature_names,
    'Coefficient':coefficients
})
feature_important['abs_coeff']=feature_important['Coefficient'].abs()
feature_important=feature_important.sort_values(by='abs_coeff',ascending=False)
print('feature important\n')
feature_important

feature important

           Feature   Coefficient     abs_coeff
2              Age  2.293473e-01  2.293473e-01
1           Gender  2.292770e-04  2.292770e-04
3  EstimatedSalary  3.045312e-05  3.045312e-05
0          User ID -7.599893e-07  7.599893e-07